$primary: #540375;
$success: #FFBF00;
$info: #10A19D;
$warning: #FF7000;
$danger: #CF0A0A;

$pastel-100: #FFF5E1;
$pastel-200: #DEB6AB;
$pastel-300: #AC7D88;
$pastel-400: #85586F;

$teal-100: #3A8891;
$teal-200: #4FA095;
$teal-300: #6D9886;
$teal-400: #0E5E6F;


$dark: #252525;
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
$page: #F4F9F9;

$h1-font-size: 1.75rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$h4-font-size: .75rem;
$h5-font-size: .50rem;
$h6-font-size: .25rem;