@import "vars";

@media screen {
  body {
    display: none !important;
  }
}

@media print {

  * {
    font-family: "Arial", serif;
    font-weight: normal;
    box-sizing: border-box;
  }

  @page {
    size: A4;
    margin: 12pt 12pt 24pt 24pt;
  }

  /* @page :first {
     size: A4;
     margin: 12pt 12pt 24pt 24pt;
   }*/

  body {
    margin: 0;
    padding: 0;
    font-size: 11pt;
    counter-reset: page;

    /* div#header {
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       counter-increment: page;
     }

     div#content {
       padding-top: 36pt;

       .content-section {
         padding-top: 36pt;
       }

       .content-section:first-child {
         padding-top: 0;
       }
     }*/

    #page-number:after {
      content: counter(page)
    }

    .page-break {
      page-break-before: always;
    }

  }

  @import "print_table";
  @import "print_utils";

}